body {
  background-color: #151718;
}

#navbar {
  background-color: #0078d4;
}

#select {
  width: 40%;
  text-align: center;
  margin: auto;
}

#router {
  width: 80%;
  margin: auto;
  text-align: center;
}

.table {
  color: white;
}

.form-select {
  background-color: #151718;
  color: white;
}

.data-line {
  color: white;
}

.data-nome {
  color: whitesmoke;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
